$mobile: 290px;
$tablet: 768px;
$desktop: 1280px;

:root {
  // Fonts
  --main-font: 'Livvic', sans-serif;
  --secondary-font: 'Lato', sans-serif;

  --main-bg-cl: #ffffff;
  --main-text-cl: #ffffff;

  //Grey scale
  --bright-gray: #ebf0f6;
  --platinum: #dde1ea;
  --cool-grey: #8a929f;
  --independence: #4a5565;
  --raisin-black: #232323;

  //Brand colors
  --french-sky-blue: #6ea3ff;
  --brandeis-blue: #005efe;
  --crayola: #0452db;

  // Transition
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
