.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

  width: 100%;
  padding: 15px 30px;
  border-radius: 20px;

  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;

  border: 2px solid var(--french-sky-blue);
  outline: none;
}

.button--primary {
  background-color: transparent;
  color: var(--main-text-cl);

  border-color: var(--main-text-cl);

  transition:
    color var(--transition-time) var(--transition-cubic),
    border-color var(--transition-time) var(--transition-cubic),
    background-color var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--main-text-cl);
    background-color: var(--french-sky-blue);
    border-color: var(--french-sky-blue);
  }
}

.button--secondary {
  color: var(--main-text-cl);
  background-color: var(--french-sky-blue);
  border-color: var(--french-sky-blue);

  transition:
    color var(--transition-time) var(--transition-cubic),
    border-color var(--transition-time) var(--transition-cubic),
    background-color var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--french-sky-blue);

    border-color: var(--french-sky-blue);
  }
}
