.header {
  padding: 15px;

  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 600;

  background-color: var(--bright-gray);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 30px;

  color: var(--independence);
}

.header__circle {
  min-width: 70px;
  height: 70px;

  border-radius: 50%;
  background-color: var(--french-sky-blue);
}

.header__logout {
  border: none;
  outline: none;

  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;

  color: var(--raisin-black);
  background-color: transparent;

  transition: color var(--transition-time) var(--transition-cubic);

  &:hover {
    color: var(--crayola);
  }
}
