.nav-list {
  display: flex;
  flex-direction: row;
  gap: 60px;

  color: var(--main-text-cl);

  @include media(tablet-only) {
    gap: 30px;
  }
}

.nav-list__item {
  &:hover,
  &:focus {
    color: var(--french-sky-blue);
    transition: color var(--transition-time) var(--transition-cubic);
  }
}
