.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  color: var(--main-text-cl);
}

.nav-list__item {
  color: var(--independence);

  transition: color var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--crayola);
  }
}
