<div class="vacancy" data-vacancy>
  <div class="vacancy__header">
    <p class="vacancy__status">Pending</p>
    <p class="vacancy__date">10.10.2023</p>
  </div>

  <h2 class="vacancy__company">EPAM</h2>

  <h3 class="vacancy__position">Junior frontend developer</h3>

  <a
    href=" https://djinni.co/jobs/248963-full-stack-developer-laravel-vue-js-developer/"
    class="vacancy__link"
    target="_blank"
  >
    https://djinni.co/jobs/248963-full-stack-developer-laravel-vue-js-developer/
  </a>

  <div class="vacancy--open mt-20">
    <h4 class="vacancy__sub-title">Template</h4>
    <p class="vacancy__description mb-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboriLorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris
    </p>

    <h4 class="vacancy__sub-title">My note</h4>
    <p class="vacancy__description">cool company, remote, like cats</p>

    <div class="vacancy__edit">
      <button data-open-edit-modal class="vacancy__button" type="button">
        Edit
      </button>
    </div>
  </div>
</div>
